<h1>Lista de Productos</h1>
<ul>
    {{#if productos.length}}
        {{#each productos}}
        <li><strong>{{this.nombre}}</strong> - ${{this.precio}}</li>
        {{/each}}
    {{else}}
        <p>No hay productos disponibles.</p>
    {{/if}}
</ul>
