<h1>Productos en Tiempo Real</h1>
<ul id="productList">
    {{#if productos.length}}
        {{#each productos}}
        <li><strong>{{this.nombre}}</strong> - ${{this.precio}}</li>
        {{/each}}
    {{else}}
        <p>No hay productos disponibles.</p>
    {{/if}}
</ul>

<div>
    <input type="text" id="nombre" placeholder="Nombre del producto">
    <input type="number" id="precio" placeholder="Precio del producto">
    <button onclick="addProduct()">Agregar Producto</button>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    function addProduct() {
        const nombre = document.getElementById('nombre').value;
        const precio = document.getElementById('precio').value;
        socket.emit('addProduct', { nombre, precio });
    }

    socket.on('updateProducts', (productos) => {
        const productList = document.getElementById('productList');
        productList.innerHTML = '';
        productos.forEach(product => {
            productList.innerHTML += `<li><strong>${product.nombre}</strong> - $${product.precio}</li>`;
        });
    });
</script>
